<p id="notice"><%= notice %></p>

<center><h1>Posts</h1></center>

<table class="blogposts">
  <thead>
    <tr>
      <!-- <th>Title</th>
      <th>Url</th> -->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td class="userpictures"><%= image_tag picture.url %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <td class="picturetitle"><center><%= picture.title %></center></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
